a{
	font-family:fantasy;
	color:blue;
	text-decoration:none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    border: 1px solid #555;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li {
    text-align: center;
    border-bottom: 1px solid #555;
}

li:last-child {
    border-bottom: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
#header{
	 background-color: black;
	 font-family:cursive;
	 height:80px;
	 width:100%;
	 margin-top:-100px;
	 border-radius:10px;
	 font-size:150%;
     float:right;
}
.main1
{	
	border-radius:15px;
	background-color:pink;
}
#page{
    margin-top:70px;
	margin-right:250px;
	background-color: pinkgray;
	border-radius:10px;
	padding:10px;
	font-size:28px;
	float:right;
	width:500px;
}
#table1{
	float:center;
	background-color:pink;
	width:100%;
}
#table1 th,td{
	font-size:25px;
	cellpadding:10px;
	cellspacing:10px;
	
}
#table1 th{
	cellpadding:10px;
	cellspacing:10px;
	width:200px;
}
#search1 table{
	font-size:20px;
	cellpadding:10px;
	cellspacing:10px;
}
#search1 th{
	cellpadding:10px;
	cellspacing:10px;
	width:200px;
}
#search1{
	background-color:pink;
	border-radiou:15px;
	cellpadding:10px;
	font-size:20px;
	float:center;
	widht:400px;
}
#search{
	background-color:pink;
	border-radiou:15px;
	cellpadding:10px;
	font-size:20px;
	float:center;
	widht:400px;
}
#multiplet input{
	font-size:18px;
	border-radius:6px;
}
#multiplet table{
	font-size:30px;
}
#multiplet tr{
	padding:20px;
}
#multiplet select{
      font-size:18px;
	border-radius:6px;
}
#multiplet td{
    font-size:20px;
    border-radius:6px;
    padding-top: 20px;
}
#search input{
	font-size:18px;
	border-radius:6px;
}
#search table{
	font-size:30px;
}
#page input
{       font-size:18px;
	border-radius:6px;
        
}
#page th{
    font-size: 30px;
    background-color: blue;
    border-radius: 10px;
}
#page select{
      font-size:18px;
	border-radius:6px;
}
#page td{
    font-size:20px;
    border-radius:6px;
    padding-top: 20px;
}
#img1 td{
    border-radius:6px;
    padding-top: 150px;
}
#header1{
     background-color: black;
	 font-family:cursive;
	 height:80px;
	 width:100%;
	 margin-top:-8opx;
	 border-radius:10px;
	 font-size:150%;
     float:right;
}
#siderbar{
		background-color:white;
		font-family:cursive;
		height:80px;
		widht:100%;
		margin-top:80px;
		border-radius:10px;
		font-size:150%;
		float:left;

	}
	h2{
		background-color:blue;
		border-radius:10px;
	}
#img1{
	margin-top:0px;     
	margin-left:150px;	
}
ul {
    list-style-type: none;
    margin-top:0px;
    padding: 10px;
    width: 200px;
    height:500px;
    border-radius:15px;
    background-color: lightblue;
}

li a {
    display: block;
    color: black;
    margin-top:10px;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: blue;
    color: white;
}

li a:hover:not(.active) {
    background-color: blue;
    color: white;
    border-radius:10px;
}
#multiplet{
	background-color:;	
}

nav {
  margin-top:0px;
  height:25px;
  padding: 24px;
  float:right;
  border-radius:10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
#nav-3 {
	
  background: black;
  }
  #sid{
  	background: gray;
  }
  
.link-3 {
  transition: 0.4s;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}
.link-3:hover {
 background-color: white;
  color: black;
  padding: 24px 10px;
}
#nav-2{
	
  background: lightblue;
  }
  #sid{
  	background: gray;
  }
  
.link-2 {
  transition: 0.4s;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}
.link-2:hover {
 background-color: white;
  color: black;
  padding: 24px 10px;
}
#OL{
	height:100px;
	
}
#OL li{
	float:right;
	
}
#main{
	border-radius:10px;
	background-color: white;
}
#multiplet{
		
	margin-top:100px;
	margin-right:350px;
	background-color: pinkgray;
	border-radius:10px;
	padding:10px;
	font-size:105%;
	float:right;
	width:350px;
			
}
.footer1{
	
	margin-top:400px;
    margin-bottom: o px;
	background-color:gray;
	width:100%;
	heith:10%;
	border-radius:10px;
}
.footer1{
    
    width:100%;
	heigth:10%;
	border-radius:10px;
}

.footer{
	
	margin-top:200px;
    margin-bottom: o px;
	background-color:gray;
	width:100%;
	border-radius:10px;
}
.footer{
    
    width:100%;
	heigth:10%;
	border-radius:10px;
}